<div id="PT-hero" class="home-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="PT-hero-title1">Patrimoni</div>
                <br/>

                <div class="PT-hero-title2"><span>Trasparenti</span></div>

                <p class="PT-hero-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere,
                    lectus eget interdum congue,
                    arcu justo varius neque, non suscipit risus augue a ipsum.</p>
            </div>
            <div class="col-md-6">
                <div class="PT-search-box">
                    <p><img class="PT-search-id" src="../assets/images/ico_person.png" alt="Cerca parlamentare" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere, lectus eget interdum congue, arcu justo varius neque, non suscipit risus augue a ipsum.
                    </p>

                    <form class="PT-hero-search" ng-controller="SearchController as searchCtl" ng-submit="searchCtl.search()">
                        <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">
                          <span ng-show="searchCtl.spinner" class="glyphicon glyphicon-refresh spinning"></span>
                          <span ng-hide="searchCtl.spinner" class="glyphicon glyphicon-search"></span>
                      </span>
                            <input ng-model="searchCtl.searchObj" ui-autocomplete="myOption" type="text"
                                   placeholder="Inizia a cercare..." class="form-control">

                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container">
  <blog-feed></blog-feed>
</section><!-- /container -->
