<div id="PT-hero" class="home-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="PT-hero-title1">Patrimoni</div>
                <br/>

                <div class="PT-hero-title2"><span>Trasparenti</span></div>

                <p class="PT-hero-subtitle">
                I documenti ufficiali dei parlamentari e dei membri del governo su redditi, beni mobili e immobili, contributi e spese elettorali <b>per gli anni 2013 e 2014.</b>
                </p>
            </div>
            <div class="col-md-6">
                <div class="PT-search-box">
                    <p><img class="PT-search-id" src="../assets/images/ico_person.png" alt="Cerca parlamentare" >
                      Vai alla scheda del singolo politico. Oppure puoi fare una ricerca per istituzione, gruppo parlamentare o circoscrizione di elezione. 
                    </p>

                    <form class="PT-hero-search" ng-controller="SearchController as searchCtl" ng-submit="searchCtl.search()">
                        <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">
                          <span ng-show="searchCtl.spinner" class="glyphicon glyphicon-refresh spinning"></span>
                          <span ng-hide="searchCtl.spinner" class="glyphicon glyphicon-search"></span>
                      </span>
                            <input ng-model="searchCtl.searchObj" ui-autocomplete="myOption" type="text"
                                   placeholder="Inizia a cercare..." class="form-control">

                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <a href="/#/minidossier" class="highlight-link">
    <img src="assets/images/banner.png" alt="banner" width="1124" height="101" data-src2x="assets/images/banner@2x.png">
  </a>
</div>
<section class="container">
  <blog-feed></blog-feed>
</section><!-- /container -->

<section class="container">
  <div class="PT-news-section">
      <div class="row">
          <div class="col-md-4 col">
            <div class="stats-detail-box">
              <div class="floating-stats">
                <p class="big-text"><b>963</b></p> 
                <p>Politici presi in considerazione</p>
              </div>
              <div class="floating-stats">
                <br>
                <p><img src="assets/images/politici_ico.png" alt="politici" width="30" height="40" data-src2x="assets/images/politici_ico@2x.png"></p>
              </div>
              <div class="floating-stats">
                <p class="big-text"><b>72%</b></p> 
                <p>Ha un livello di trasparenza basso</p>
              </div>
              <div style="clear:both">
              </div>
            </div>
          </div>
          <div class="col-md-4 col">
            <div class="stats-detail-box">
              <div class="floating-stats">
                <p class="big-text"><b>1888</b></p> 
                <p>Dichiarazioni patrimoniali analizzate</p>
              </div>
              <div class="floating-stats">
                <br>
                <p><img src="assets/images/dichiaraz_ico.png" alt="dichiarazioni_patrimoniali" width="36" height="36" data-src2x="assets/images/dichiaraz_ico@2x.png"></p>
              </div>
              <div class="floating-stats">
                <p class="big-text"><b>68%</b></p> 
                <p>Pubblica informazioni parziali</p>
              </div>
              <div style="clear:both">
              </div>
            </div>
          </div>
          <div class="col-md-4 col">
            <div class="stats-detail-box">
              <div class="floating-stats">
                <p class="big-text"><b>647</b></p> 
                <p>Rendiconti elettorali presentati</p>
              </div>
              <div class="floating-stats">
                <br>
                <p><img src="assets/images/elett_ico.png" alt="dichiarazioni_elettorali" width="30" height="40" data-src2x="assets/images/elett_ico@2x.png"></p>
              </div>
              <div class="floating-stats">
                <p class="big-text"><b>31%</b></p> 
                <p>Politici che non hanno presentato documentazione</p>
              </div>
              <div style="clear:both">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<br>
