<div class="single-card">
    <div class="page-heading">
        <h1 class="container">Il progetto</h1>
    </div>

    <div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div id="scheda-basic" class="col-md-3">
                    <div class="scheda-items">
                        <br/>
                        <h4>Lorem</h4>
                        <div class="well">
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                        </div>
                    </div>

                    <a href="http://parlamento17.openpolis.it/parlamentare/{{scheda.op_id}}" class="highlight-link" target="_blank">SCARICA MINIDOSSIER</a>

                </div>
                <div class="col-md-9" style="position:relative">

                    <div id="modello-redditi">
                        <h3>Il progetto</h3>
                    </div>
<p>Patrimoni Trasparenti</p>

<p>Redditi, proprietà e spese elettorali dei politici nazionali della XVII Legislatura</p>

<p>22 Gennaio 2016. Un approfondimento sui documenti ufficiali dei parlamentari e dei membri del governo su redditi, beni mobili e immobili, contributi e spese elettorali per gli anni 2013 e 2014.</p>


<p><b>Trasparenza.</b> Il progetto “Patrimoni trasparenti” nasce dalla necessità di ricostruire le connessioni di natura economica (contributi elettorali, incarichi, partecipazioni) fra politici e soggetti terzi (individui e/o soggetti giuridici) per verificare la presenza di conflitti di interessi di qualsiasi natura.</p>

<p><b>Dati disponibili.</b> Ostacolo principale riguarda i dati a disposizione. Le blande norme previste trovano applicazione parziale lasciando ampi margini ai singoli politici su quali informazioni pubblicare e con che dettaglio di accuratezza.</p>

<p><b>Completezza delle informazioni.</b> Abbiamo analizzato la documentazione presentata da ogni politico assegnando ad ognuno un livello di completezza delle informazioni: il 72,3% è risultato parziale (scarso), il 21,4% completo (sufficiente) e solo il 6,3% aggiuntivo (buono).</p>

Quali documenti. In particolare solo una minoranza dei politici ha presentato documenti dettagliati: solo il 28% la dichiarazione completa dei redditi, solo il 24% dettagli catastali di terreni e fabbricati e il 28% il dettaglio di entrare e spese della campagna elettorale.

Distribuzione della ricchezza. Oltre il 70% dei politici analizzati ha dichiarato per il 2013 un reddito fra gli 80 e 150mila euro, corrispondente alle indennità di mandato. Gli altri hanno avuto entrate superiori in virtù di altre fonti di reddito. In 10 superano il milione di euro. La ricchezza è distribuita in modo diverse se analizziamo i gruppi parlamentari, i più "ricchi" sono i senatori di Gal con oltre 400.000 euro di media mentre all'estremo opposto della classifica troviamo i 5 stelle con poco più di 80.000 euro.

Partecipazioni ed incarichi. Interessante analizzare le relazioni dei politici nazionali con aziende e società di cui hanno quote e azioni oppure in cui hanno un incarico. Per l'anno 2014 il 31% dei politici nazionali possiede partecipazioni, percentuale che sale al 40% prendendo in esame il solo governo. Invece sono 138 i politici ad avere almeno un incarico, di questi 52 ne svolgono contemporaneamente più di uno.

Rendicontazione elettorale. Uno degli aspetti dove si registra la minor chiarezza riguarda contributi e spese elettorali. La scarsità di dati e la loro eterogeneità rende quasi impossibile fare un'analisi complessiva. Evidenziamo due elementi: il primo è il diverso ruolo che i partiti possono esercitare, in alcuni casi contribuiscono alle campagne dei candidati ma in altri sono dei costi. Il secondo è il numero molto alto di chi sostiene di non aver speso neanche un euro, ben 266.

Open data. Questo elaborato fa parte di un'iniziativa di apertura di dati pubblici che vuole incentivare la partecipazione e l'accesso civico dell'informazioni. sul sito patrimoni.openpolis.it è possibile consultare le schede di ogni politico e scaricare tutte le informazioni in formato open data. 

MiniDossier Openpolis. “Patrimoni trasparenti” è il numero 01/2016 della collana di approfondimento MiniDossier. L’impostazione di data journalism prevede la verifica, l’analisi e la comparazione dei dati provenienti da fonti ufficiali per fare emergere notizie e proporre un altro punto di vista. Anche per dare continuità a questo lavoro durante l’anno è fondamentale sostenere openpolis attraverso la campagna di donazioni.</p>
                </div>
            </div>

        </div>
    </div>
</div>
