<div class="single-card">
    <div class="page-heading">
        <h1 class="container">Il progetto</h1>
    </div>

    <div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div id="scheda-basic" class="col-md-3">
                    <div class="scheda-items">
                        <br/>
                        <h4>Lorem</h4>
                        <div class="well">
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                        </div>
                    </div>

                    <a href="http://parlamento17.openpolis.it/parlamentare/{{scheda.op_id}}" class="highlight-link" target="_blank">SCARICA MINIDOSSIER</a>

                </div>
                <div class="col-md-9" style="position:relative">

                    <div id="modello-redditi">
                        <h3>Il progetto</h3>
                    </div>
                         <p>
                         I dati di Patrimoni trasparenti sono disponibili in diversi formati aperti.<br>
                         <ul>
                            <li>Per data journalists e data analysts: <a href="zip"><b>download dei dati riassuntivi in formato CSV</b></a> [link a pacchetto zip con 2 files CSV (uno per anno) e un file CSV di metadati] I nomi dei file sono: per i csv "openpolis-patrimoni-trasparenti-anno-YYYY.csv" mentre lo zip si chiama "openpolis-patrimoni-trasparenti.zip" I campi dei csv sono descritti qui: #23 da dove è possibile scaricare anche il file dei metadati pronto che si deve chiamare "openpolis-patrimoni-trasparenti-tracciato-record-metadati.csv"</li>
                            <li>Per programmatori: <a href="zip"><b>download di tutti i dati in formato JSON</b></a></li>
                            <li>Per programmatori avanzati: <a href"/api"><b>accedi alle nostre Api</b></a></li>
                         </ul>
                         Tutti i dati sono di proprietà dell'Associazione Openpolis, che li rilascia con licenza CC BY-SA 3.0.
                         </p>
                </div>
            </div>

        </div>
    </div>
</div>
