<div class="single-card">
    <div class="page-heading">
        <h1 class="container">Il Minidossier</h1>
    </div>

    <div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div id="scheda-basic" class="col-md-3">
                    <div class="scheda-items">
                        <a href="{{''|minid_link}}" target="_blank"><img src="assets/images/minidossier.png" alt="scarica" width="262"></a>
                    </div>

                    <br/>

                    <a href="{{''|minid_link}}" class="highlight-link" target="_blank"><img src="assets/images/scarica_ico.png" alt="scarica" width="17" height="17" data-src2x="assets/images/scarica_ico@2x.png"> SCARICA MINIDOSSIER</a>

                </div>
                <div class="col-md-9" style="position:relative">

                    <div id="modello-redditi">
                        <h3>Il Minidossier</h3>
                    </div>

<h4>Patrimoni Trasparenti</h4>

<h4>Redditi, proprietà e spese elettorali dei politici nazionali della XVII Legislatura</h4>

<p>22 Gennaio 2016.</p> 

<p>Un approfondimento sui documenti ufficiali dei parlamentari e dei membri del governo su redditi, beni mobili e immobili, contributi e spese elettorali per gli anni 2013 e 2014.</p>

<p><b>Trasparenza.</b> Il progetto “Patrimoni trasparenti” nasce dalla necessità di ricostruire le connessioni di natura economica (contributi elettorali, incarichi, partecipazioni) fra politici e soggetti terzi (individui e/o soggetti giuridici) per rintracciare la presenza di conflitti di interessi di qualsiasi natura.</p>

<p><b>Dati disponibili.</b> I dati ad oggi disponibili non rendono possibile questo tipo di indagine. Le blande norme in materia sono applicate solo in parte e lasciano ampi margini di scelta ai singoli politici su quali informazioni pubblicare e con quanti dettagli.</p>

<p><b>Completezza delle informazioni.</b> Abbiamo analizzato i documenti presentati da ogni politico nazionale, assegnando a ognuno un livello di completezza delle informazioni: il 72,3% è risultato parziale (scarso), il 21,4% completo (sufficiente) e solo il 6,3% dettagliato (buono).</p>

<p><b>Quali documenti.</b> Solo una minoranza dei politici ha scelto di pubblicare documenti dettagliati: appena il 28% diffonde la dichiarazione dei redditi in tutte le sue parti, il 24% specifica i dettagli catastali di terreni e fabbricati e il 28% rendiconta contributi e spese della campagna elettorale.</p>

<p><b>Distribuzione della ricchezza.</b> Oltre il 70% dei politici analizzati ha dichiarato per il 2014 un reddito fra gli 80 e 150mila euro, corrispondente alle indennità di mandato. Gli altri hanno avuto entrate superiori in virtù di altre fonti di reddito. In 10 superano il milione di euro. La ricchezza è distribuita in modo diverso se analizziamo i gruppi parlamentari, i più "ricchi" sono i senatori di Gal con oltre 400.000 euro di media mentre all'estremo opposto della classifica troviamo i 5 stelle con poco più di 80.000 euro.</p>

<p><b>Partecipazioni ed incarichi.</b> È interessante analizzare le relazioni dei politici nazionali con aziende e società di cui hanno quote e azioni oppure in cui hanno un incarico. Nel 2014 il 31% dei politici possiede partecipazioni, e si sale al 40% prendendo in esame il solo governo. E sono 138 i politici che, in aggiunta al ruolo istituzionale, ricoprono almeno un altro incarico, di questi 52 ne svolgono contemporaneamente più di uno.</p>

<p><b>Rendicontazione elettorale.</b> Uno degli aspetti dove si registra la maggiore opacità riguarda contributi e spese elettorali. La scarsità di dati e la loro eterogeneità rende quasi impossibile fare un'analisi complessiva. Evidenziamo due elementi. Il primo è il diverso ruolo che i partiti possono esercitare: in alcuni casi contribuiscono alle campagne dei candidati ma in altri sono dei costi. Il secondo è il numero molto alto di chi sostiene di non aver speso neanche un euro, ben 266.</p>

<p><b>Open data.</b> Questo elaborato fa parte di un'iniziativa di apertura di dati pubblici che vuole incentivare la partecipazione e l'accesso civico alle informazioni. È possibile consultare le schede di ogni politico e scaricare tutte le informazioni in formato open data.</p>

<p><b>MiniDossier Openpolis.</b> “Patrimoni trasparenti” è il numero 01/2016 della collana di approfondimento MiniDossier. L’impostazione di data journalism prevede la verifica, l’analisi e la comparazione dei dati provenienti da fonti ufficiali per fare emergere notizie e proporre punti di vista nuovi e diversi. Anche per dare continuità a questo lavoro durante l’anno è fondamentale sostenere openpolis attraverso la <a href="http://www.openpolis.it/sostienici/dona/"><b>campagna di donazioni.</b></a></p>

                </div>
            </div>

        </div>
    </div>
</div>
