<div class="PT-news-section">
    <div class="read-all"><hr/><a href="http://blog.openpolis.it" target="_blank" class="post-link">DAL BLOG</a>
    </div>
    <div class="row">
        <div ng-repeat="article in articles" class="col-md-4 col">
          <p class="date">{{article.pubDate | date:'dd//MM/yyyy'}}</p>
          <p class="headline"><a href="{{article.link}}" target="_blank">{{article.title}}</a></p>
            <hr/>
            <p ng-bind-html="article.description" class="excerpt"></p>
            <p><a href="{{article.link}}" target="_blank" class="post-link pull-right">Continua</a></p>
        </div>
    </div>
    <div class="read-all"><hr/><a href="http://blog.openpolis.it/categorie/campagne/patrimonitrasparenti/" target="_blank" class="post-link">Leggi tutti</a>
    </div>
</div>
