<div class="single-card">

  <p ng-show="spinner" ><span class="glyphicon glyphicon-refresh spinning"></span> Recupero la scheda...</p>

  <div ng-show="errors" class="alert alert-danger" role="alert">
    <p>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Errore durante il recupero della scheda, riprova più tardi.
    </p>
  </div>

  <div ng-show="scheda" class="panel panel-default">
    <!-- relative position to make badge absolute positionning work -->
    <div class="panel-heading" style="position:relative">
      <h3>{{scheda.nome|capitalize:all}} {{scheda.cognome|capitalize:all}}</h3>
      <a ng-show="scheda.indice_completezza < 3" href="#/campagna" style="position: absolute; top: 0px; right: 0px; border: 0; z-index:1000">
        <img alt="Dichiarazione incompleta" ng-src="assets/images/incompleta_rigth_red_aa0000.png">
      </a>
    </div>
    <div class="panel-body col-md-8">
      <img ng-src="http://op_openparlamento_images.s3.amazonaws.com/parlamentari/picture/{{scheda.op_id}}.jpeg" alt="{{scheda.nome|capitalize:all}} {{scheda.cognome|capitalize:all}}"/>
      <p><b>Data di nascita:</b> {{scheda.data_nascita | date:'dd-MM-yyyy'}}</p>
      <p><b>Residenza:</b> {{scheda.comune_residenza|capitalize:all}} ({{scheda.provincia_residenza|capitalize:team}})</p>
      <p><b>Stato civile:</b> {{scheda.stato_civile}}</p>
      <p><b>Professione:</b> {{scheda.professione}}</p>
      <div ng-repeat="incarico in scheda.incarichi" class="alert alert-info" role="alert">
        <p><b>Istituzione:</b> <a ng-href="#/istituzioni/{{incarico.istituzione}}">{{incarico.istituzione}}</a></p>
        <p><b>Incarico:</b> {{incarico.incarico}}</a></p>
        <p ng-show="incarico.gruppo.acronym"><b>Gruppo:</b> <a ng-href="#/gruppo/{{incarico.gruppo.acronym}}">{{incarico.gruppo.acronym}} - {{incarico.gruppo.name}}</a></p>
        <p><b>Partito:</b> {{incarico.partito.acronym}} - {{incarico.partito.name}}</a></p>
        <p ng-show="incarico.circoscrizione"><b>Circoscrizione:</b> <a ng-href="#/circoscrizioni/{{incarico.circoscrizione}}">{{incarico.circoscrizione}}</a></p>
      </div>
    </div> <!-- panel-body -->
    <div class="panel-body col-md-4">
      <p>Seleziona anno dichiarazione:</p>
      <ul class="nav nav-pills nav-justified">
        <li ng-repeat="dichiarazione in schede" ng-class="{'active': scheda.anno_dichiarazione === dichiarazione.anno_dichiarazione}" ng-click="selectYear($index)" role="presentation"><a href="">{{dichiarazione.anno_dichiarazione}}</a></li>
      </ul>
      <br>
      <p><b>Completezza:</b> <star-rating stars-number="scheda.indice_completezza" max=3></star-rating></p>
      <p><a href="" ng-click="scrollTo('modello-redditi')"><b>Totale reddito:</b></a> {{scheda.totale_730|currency:"€"}}</p>
      <p><a href="" ng-click="scrollTo('beni-immobili')"><b>Numero immobili:</b></a> {{scheda.beni_immobili.length}}</p>
      <p><a href="" ng-click="scrollTo('beni-mobili')"><b>Numero beni mobili:</b></a> {{scheda.beni_mobili.length}}</p>
      <p><a href="" ng-click="scrollTo('partecipazioni-soc')"><b>Partecipazioni:</b></a> {{scheda.partecipazioni_soc.length}}</p>
      <p><a href="" ng-click="scrollTo('amministrazioni-soc')"><b>Amministrazioni:</b></a> {{scheda.amministrazioni_soc.length}}</p>
      <p><a href="" ng-click="scrollTo('contributi-elettorali')"><b>Contributi elettorali:</b></a> {{scheda.totale_contributi_elettorali|currency:"€"}}</p>
      <p><a href="" ng-click="scrollTo('spese-elettorali')"><b>Spese elettorali:</b></a> {{scheda.totale_spese_elettorali|currency:"€"}}</p>
    </div> <!-- panel-body -->

    <div class="panel-heading" id="modello-redditi" style="clear:both">Voci reddito {{scheda.anno_dichiarazione}}</div>
    <table class="table">
      <thead>
        <tr>
          <th>Voce</th>
          <th>Dichiarante</th>
          <th>Coniuge</th>
          <th>Totali</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.reddito_730">
          <td ng-repeat="(k, v) in voce">
            {{v|currency:"€"}}
          </td>
        </tr>
        <tr>
          <td>Totale dichiarato</td>
          <td></td>
          <td></td>
          <td>{{scheda.totale_730|currency:"€"}}</td>
        </tr>
      </tbody>
    </table> <!-- reddito -->
    <div class="panel-heading" id="beni-immobili">Beni immobili {{scheda.anno_dichiarazione}}: {{scheda.beni_immobili.length}}</div>
    <table class="table">
      <thead>
        <tr>
          <th>Persona</th>
          <th>Diritto</th>
          <th>Descrizione</th>
          <th>Provincia</th>
          <th>Comune</th>
          <th>Rendita</th>
          <th>Categoria</th>
          <th>Annotazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.beni_immobili">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    <table> <!-- immobili -->
    <div class="panel-heading" id="beni-mobili">Beni mobili {{scheda.anno_dichiarazione}}: {{scheda.beni_mobili.length}}</div>
    <table class="table">
      <thead>
        <tr>
          <th>Persona</th>
          <th>Tipologia</th>
          <th>Cavalli fiscali</th>
          <th>Anno immatr.</th>
          <th>Annotazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.beni_mobili">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    </table> <!-- mobili -->
    <div class="panel-heading" id="partecipazioni-soc">Partecipazioni in società {{scheda.anno_dichiarazione}}: {{scheda.partecipazioni_soc.length}}</div>
    <table ng-show="scheda.partecipazioni_soc.length" class="table">
      <thead>
        <tr>
          <th>Persona</th>
          <th>Tipologia</th>
          <th>Cavalli fiscali</th>
          <th>Anno immatr.</th>
          <th>Annotazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.partecipazioni_soc">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    </table> <!-- partecipazioni_soc -->
    <div class="panel-heading" id="amministrazioni-soc">Amministrazioni di società {{scheda.anno_dichiarazione}}: {{scheda.amministrazioni_soc.length}}</div>
    <table ng-show="scheda.amministrazioni_soc.length" class="table">
      <thead>
        <tr>
          <th>Persona</th>
          <th>Tipologia</th>
          <th>Cavalli fiscali</th>
          <th>Anno immatr.</th>
          <th>Annotazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.amministrazioni_soc">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    </table> <!-- amministrazioni_soc -->
    <div class="panel-heading" id="contributi-elettorali">Contributi elettorali {{scheda.anno_dichiarazione}}: {{scheda.totale_contributi_elettorali|currency:"€"}}</div>
    <table ng-show="scheda.totale_contributi_elettorali" class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Elezione</th>
          <th>Anno</th>
          <th>Importo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.contributi_elettorali">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    </table> <!-- contributi_elettorali -->
    <div class="panel-heading" id="spese-elettorali">Spese elettorali {{scheda.anno_dichiarazione}}: {{scheda.totale_spese_elettorali|currency:"€"}}</div>
    <table ng-show="scheda.totale_spese_elettorali" class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Elezione</th>
          <th>Anno</th>
          <th>Importo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="voce in scheda.spese_elettorali">
          <td ng-repeat="(k, v) in voce">
            {{v}}
          </td>
        </tr>
      </tbody>
    </table> <!-- spese_elettorali -->
    <div class="panel-footer">
      <a href="{{scheda.filename_url}}"><p>Scarica documento originale<p></a>
      <!-- <li ng-repeat="(key, value) in scheda">{{key}}: {{value}}</li> -->
    </div> <!-- panel-footer -->
  </div> <!-- panel-default -->
</div>
