<div class="single-card">
    <div class="page-heading">
        <h1 class="container">{{scheda.nome|capitalize:all}} {{scheda.cognome|capitalize:all}}</h1>
    </div>
    <div ng-show="spinner" class="PT-dialog-msg">
        <p>
            <span class="glyphicon glyphicon-refresh spinning"></span> Recupero la scheda...
        </p>
    </div>

    <div ng-show="errors" class="PT-dialog-msg alert alert-danger" role="alert">
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Errore durante il recupero della scheda, riprova più tardi.
        </p>
    </div>

    <div ng-show="scheda">
        <!-- <a ng-show="scheda.indice_completezza > 2" href="#/campagna"
           style="position: absolute; top: 0px; right: 0px; border: 0; z-index:1000">
            <img alt="Dichiarazione incompleta" ng-src="assets/images/incompleta_rigth_red_aa0000.png">
        </a> -->
        <div class="container" style="position: relative;">
            <div class="row">
                <div id="scheda-basic" class="col-md-3">
                    <div class="portrait-picture">
                        <img ng-src="http://op_openparlamento_images.s3.amazonaws.com/big/{{scheda.op_id}}.jpg"
                             alt="{{scheda.nome|capitalize:all}} {{scheda.cognome|capitalize:all}}"/>
                    </div>
                    <div class="scheda-items">
                        <p>Data di nascita: <b>{{scheda.data_nascita | date:'dd-MM-yyyy'}}</b></p>

                        <p>Residenza: <b>{{scheda.comune_residenza|capitalize:all}}
                            ({{scheda.provincia_residenza|capitalize:team}})</b></p>

                        <p>Stato civile: <b>{{scheda.stato_civile}}</b></p>

                        <p>Professione: <b>{{scheda.professione}}</b></p>

                        <br/>

                        <h4>Incarichi</h4>

                        <div class="well" ng-repeat="incarico in scheda.incarichi">
                            <p>
                                Istituzione: <strong><a ng-href="#/istituzioni/{{incarico.istituzione}}">{{incarico.istituzione}}</a></strong>
                            </p>

                            <p>
                                Incarico: <strong>{{incarico.incarico}}</strong>
                            </p>

                            <p ng-show="incarico.gruppo.acronym">
                                Gruppo: <strong><a ng-href="#/gruppo/{{incarico.gruppo.acronym}}">{{incarico.gruppo.acronym|capitalize:'first'}} - {{incarico.gruppo.name}}</a></strong>
                            </p>

                            <p ng-show="incarico.istituzione == 'camera'">
                                Lista di elezione: <strong>{{incarico.partito.acronym|capitalize:'first'}} - {{incarico.partito.name}}</strong>
                            </p>
                            <p ng-show="incarico.istituzione == 'senato'">
                                Lista di elezione: <strong>{{incarico.partito.acronym|capitalize:'first'}} - {{incarico.partito.name}}</strong>
                            </p>
                            <p ng-show="incarico.istituzione == 'governo'">
                                Partito: <strong>{{incarico.partito.acronym|capitalize:'first'}} - {{incarico.partito.name}}</strong>
                            </p>

                            <p ng-show="incarico.circoscrizione">
                                Circoscrizione: <strong><a ng-href="#/circoscrizioni/{{incarico.circoscrizione}}">{{incarico.circoscrizione|capitalize:'first'}}</a></strong>
                            </p>
                        </div>
                    </div>
                    <a href="http://parlamento17.openpolis.it/parlamentare/{{scheda.op_id}}" class="highlight-link" target="_blank">VISUALIZZA LA SUA ATTIVITÀ PARLAMENTARE</a>
                    <br>
                    <div>
                        <p>
                          <a href="{{scheda.filename_url}}" target="_blank" class="highlight-link">
                            <img src="assets/images/scarica_ico.png" alt="scarica" width="17" height="17" data-src2x="assets/images/scarica_ico@2x.png"> SCARICA I DOCUMENTI ORIGINALI DELLE DICHIARAZIONI PATRIMONIALI
                          </a>
                        </p>
                        <p>
                          <i>Ultimo aggiornamento: <b>{{scheda.ultima_modifica|date:'dd-MM-yyyy'}}</b></i>
                        </p>
            
                    </div>

                </div>
                <div class="col-md-9" style="position:relative">
                    <h3>Dichiarazioni patrimoniali</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-repeat="dichiarazione in schede"
                            ng-class="{'active': scheda.anno_dichiarazione === dichiarazione.anno_dichiarazione}"
                            ng-click="selectYear($index)" role="presentation">
                            <a href="" role="tab" data-toggle="tab">{{dichiarazione.anno_dichiarazione}}</a>
                        </li>
                    </ul>
                    <br>

                    <div class="well">
                        <div class="row">
                          <div class="col-md-8">
                            <strong>Completezza della dichiarazione patrimoniale
                            <a href="" 
                            custom-popover popover-title="Completezza della dichiarazione patrimoniale" 
                            popover-html="L’indice di completezza analizza i documenti pubblicati da ciascun politico.<br>
                            <a href='/#/progetto#faqcompletezza'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?"></a>
                            </strong>
                          </div>
                          <div class="col-md-4">
                          </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="progress">
                                    <span class="progress-step progress-step-1_3"></span><span class="progress-step progress-step-2_3"></span>
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuenow="{{133-(scheda.indice_completezza*33)}}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{133-(scheda.indice_completezza*33)}}%;">
                                        <span class="sr-only">{{scheda.indice_completezza*33}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                              <p class="font-size-medium"><b>{{scheda.indice_completezza|completeness_mapping}} - {{scheda.note_completezza | format_note_completezza:'title' | capitalize:'first' }}</b><br/>
                                {{scheda.note_completezza | format_note_completezza:'body' | capitalize:'first'}}.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <p>
                              <a href="" ng-click="scrollTo('modello-redditi')">Reddito: <b>{{scheda.totale_730_dichiarante|currency}}</b></a>
                            </p>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                              <a href="" ng-click="scrollTo('lista-fabbricati')">N. fabbricati: <b>{{(scheda.beni_immobili| filter:{$:'dichiarante'} | filter:{$:'fabbricato'}).length}}</b></a>
                            </p>
                            <p>
                              <a href="" ng-click="scrollTo('lista-terreni')">N. terreni: <b>{{(scheda.beni_immobili| filter:{$:'dichiarante'} | filter:{$:'terreno'}).length}}</b></a>
                            </p>
                            <p>
                              <a href="" ng-click="scrollTo('beni-mobili')">N. beni mobili: <b>{{(scheda.beni_mobili| filter:{$:'dichiarante'}) .length}}</b></a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                              <a href="" ng-click="scrollTo('partecipazioni-soc')">N. di partecipazioni (azioni/quote) in società: <b>{{(scheda.partecipazioni_soc| filter:{$:'dichiarante'}).length}}</b></a>
                            </p>
                            <p>
                              <a href="" ng-click="scrollTo('amministrazioni-soc')">N. di incarichi di amministratore di società: <b>{{(scheda.amministrazioni_soc| filter:{$:'dichiarante'}).length}}</b></a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p ng-show="scheda.dichiarazione_elettorale">
                              <a href="" ng-click="scrollTo('spese-elettorali')">Spese elettorali: <b>{{scheda.totale_spese_elettorali|currency:"€"}}</b></a>
                            </p>
                            <p ng-hide="scheda.dichiarazione_elettorale">
                              <a ng-hide="getLastSpeseYear()=='Nessuna voce'" ng-click="selectAndScroll(lastSpeseYearIndex, 'spese-elettorali')" href="" >Spese elettorali: <b>{{getLastSpeseYear()}}</b></a>
                              <span ng-show="getLastSpeseYear()=='Nessuna voce'" class="no-contrib-expense">Spese elettorali: <b>{{getLastSpeseYear()}}</b></span>
                            </p>
                            <p ng-show="scheda.dichiarazione_elettorale">
                              <a href="" ng-click="scrollTo('contributi-elettorali')">Contributi elettorali: <b>{{scheda.totale_contributi_elettorali|currency:"€"}}</b></a>
                            </p>
                            <p ng-hide="scheda.dichiarazione_elettorale">
                              <a ng-hide="getLastContributiYear()=='Nessuna voce'" href="" ng-click="selectAndScroll(lastContributiYearIndex, 'contributi-elettorali')">Contributi elettorali: <b>{{getLastContributiYear()}}</b></a>
                              <span ng-show="getLastContributiYear()=='Nessuna voce'" ng-click="selectAndScroll(lastContributiYearIndex, 'contributi-elettorali')" class="no-contrib-expense" >Contributi elettorali: <b>{{getLastContributiYear()}}</b></span>
                            </p>
                        </div>
                    </div>

                    <hr/>

                    <!--
                    *
                    *    VOCI REDDITO
                    *
                    -->

                    <div id="modello-redditi">
                        <h3>Voci di reddito {{scheda.anno_dichiarazione}} 
                          <a href="" 
                            custom-popover popover-title="Voci di reddito" 
                            popover-html="Le fonti da cui è possibile avere entrate, riportate in apposite sezioni dei modelli di dichiarazione dei redditi.<br><a href='/#/progetto#faqreddito'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Voce</th>
                            <th>Dichiarante</th>
                            <th>Coniuge</th>
                            <th>Totali</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.reddito_730">
                            <td ng-repeat="(k, v) in voce">
                                <div ng-if="isNumber(v)">{{v|currency:"€"|no_data}}</div>
                                <div ng-if="!isNumber(v)">{{v}}</div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><b>Totale dichiarato</b></td>
                            <td></td>
                            <td></td>
                            <td><b>{{scheda.totale_730|currency:"€"|no_data}}</b></td>
                        </tr>
                        </tfoot>
                    </table>

                    <!--
                    *
                    *    BENI IMMOBILI, the power of filter filter!
                    *
                    -->

                    <!-- FABBRICATI-->
                    <div ng-show="(scheda.beni_immobili| filter:{$:'fabbricato'}).length" id="lista-fabbricati">
                        <h3>Fabbricati {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Fabbricati" 
                            popover-html="I beni immobili di proprietà come case, palazzi o stabili di vario tipo.<br><a href='/#/progetto#faqfabbricati'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="(scheda.beni_immobili| filter:{$:'fabbricato'}).length" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Persona</th>
                            <th>Diritto</th>
                            <th>Provincia</th>
                            <th>Comune</th>
                            <th>Rendita catastale</th>
                            <th>Codice utilizzo</th>
                            <th>Categoria catastale</th>
                            <th>Quota possesso</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.beni_immobili| filter:{$:'fabbricato'}">
                            <td>
                                {{voce.persona|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.natura_diritto|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.provincia|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.comune|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.rendita_catastale|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.codice_utilizzo|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.categoria_catastale|capitalize:'first'|no_data}}
                            </td>
                            <td ng-show="voce.natura_diritto == 'proprietà'">
                                100%
                            </td>
                            <td ng-show="voce.natura_diritto != 'proprietà'">
                                {{voce.quota_possesso|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.annotazioni|capitalize:'first'|no_data}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-show="(scheda.beni_immobili| filter:{$:'terreno'}).length" id="lista-terreni">
                        <h3>Terreni {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Le proprietà immobiliari relative ai terreni" 
                            popover-html="Per i terreni sono indicati due valori: il reddito dominicale, riferito alla proprietà del fondo, e il reddito agrario, relativo alla sua possibile lavorazione agricola.<br><a href='/#/progetto#faqterreni'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="(scheda.beni_immobili| filter:{$:'terreno'}).length" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Persona</th>
                            <th>Diritto</th>
                            <th>Provincia</th>
                            <th>Comune</th>
                            <th>Reddito dominicale</th>
                            <th>Reddito agrario</th>
                            <th>Quota possesso</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.beni_immobili| filter:{$:'terreno'}">
                            <td>
                                {{voce.persona|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.natura_diritto|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.provincia|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.comune|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.reddito_dominicale|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.reddito_agrario|capitalize:'first'|no_data}}
                            </td>
                            <td ng-show="voce.natura_diritto == 'proprietà'">
                                100%
                            </td>
                            <td ng-show="voce.natura_diritto != 'proprietà'">
                                {{voce.quota_possesso|capitalize:'first'|no_data}}
                            </td>
                            <td>
                                {{voce.annotazioni|capitalize:'first'|no_data}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--
                    *
                    *    BENI MOBILI
                    *
                    -->

                    <div ng-show="scheda.beni_mobili.length" id="beni-mobili">
                        <h3>Beni mobili {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Beni mobili" 
                            popover-html="Mezzi di trasporto di proprietà iscritti ai pubblici registri.<br><a href='/#/progetto#faqmobili'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="scheda.beni_mobili.length" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Persona</th>
                            <th>Tipologia</th>
                            <th>Cavalli fiscali</th>
                            <th>Modello</th>
                            <th>Marca</th>
                            <th>Anno immatr.</th>
                            <th>Annotazioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.beni_mobili">
                            <td ng-repeat="(k, v) in voce">
                                {{v|capitalize:'first'|no_data}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--
                    *
                    *    PARTECIPAZIONI SOCIETA'
                    *
                    -->

                    <div ng-show="scheda.partecipazioni_soc.length" id="partecipazioni-soc">
                        <h3>Partecipazioni in società {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Partecipazioni in società" 
                            popover-html="Le quote o le azioni societarie di proprietà.<br><a href='/#/progetto#faqpartecipazioni'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="scheda.partecipazioni_soc.length" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Città</th>
                            <th>Provincia</th>
                            <th>Persona</th>
                            <th>Denominazione</th>
                            <th>Attività prevalente</th>
                            <th>Numero quote</th>
                            <th>Valore economico</th>
                            <th>Annotazioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.partecipazioni_soc">
                            <td ng-repeat="(k, v) in voce">
                              {{v|capitalize:'first'|no_data}}
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <!--
                    *
                    *    AMMINISTRAZIONI SOCIETA'
                    *
                    -->

                    <div ng-show="scheda.amministrazioni_soc.length" id="amministrazioni-soc">
                        <h3>Amministrazioni di società {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Amministrazioni di società" 
                            popover-html="Gli incarichi ricoperti in aziende e società di vario tipo.<br><a href='/#/progetto#faqamministrazioni'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="scheda.amministrazioni_soc.length" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Città</th>
                            <th>Provincia</th>
                            <th>Persona</th>
                            <th>Denominazione</th>
                            <th>Attività prevalente</th>
                            <th>Natura incarico</th>
                            <th>Annotazioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.amministrazioni_soc">
                            <td ng-repeat="(k, v) in voce">
                                {{v|capitalize:'first'|no_data}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--
                    *
                    *    CONTRIBUTI ELETTORALI
                    *
                    -->

                    <div ng-show="scheda.totale_contributi_elettorali" id="contributi-elettorali">
                        <h3>Contributi elettorali {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Contributi elettorali" 
                            popover-html="Le risorse a disposizione dei singoli candidati per svolgere la propria campagna elettorale.<br><a href='/#/progetto#faqcontributi'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="scheda.totale_contributi_elettorali" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Elezione</th>
                            <th>Importo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.contributi_elettorali">
                            <td>{{voce.fonte|capitalize:'first'|no_data}}</td>
                            <td>{{voce.tipo_elezione|capitalize:'first'|no_data}}</td>
                            <td>{{voce.importo|currency:"€"|no_data}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><b>Totale dichiarato</b></td>
                            <td></td>
                            <td><b>{{scheda.totale_contributi_elettorali|currency:"€"}}</b></td>
                        </tr>
                        </tfoot>
                    </table>

                    <!--
                    *
                    *    SPESE ELETTORALI
                    *
                    -->

                    <div ng-show="scheda.totale_spese_elettorali" id="spese-elettorali">
                        <h3>Spese elettorali {{scheda.anno_dichiarazione}}
                          <a href="" 
                            custom-popover popover-title="Spese elettorali" 
                            popover-html="I soldi spesi dai singoli candidati per svolgere la propria campagna elettorale.<br><a href='/#/progetto#faqspese'>Maggiori info.</a>"
                            popover-placement="bottom" popover-label="?">
                          </a>
                        </h3>
                    </div>
                    <table ng-show="scheda.totale_spese_elettorali" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Elezione</th>
                            <th>Importo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voce in scheda.spese_elettorali">
                            <td>{{voce.fonte|capitalize:'first'|no_data}}</td>
                            <td>{{voce.tipo_elezione|capitalize:'first'|no_data}}</td>
                            <td>{{voce.importo|currency:"€"|no_data}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><b>Totale dichiarato</b></td>
                            <td></td>
                            <td><b>{{scheda.totale_spese_elettorali|currency:"€"}}</b></td>
                        </tr>
                        </tfoot>
                    </table> <!-- spese_elettorali -->

                    <hr/>
                    <br/>

                </div>
            </div>

        </div>
    </div>
</div>
