<div class="single-card">
    <div class="page-heading">
        <h1 class="container">OpenData</h1>
    </div>

    <div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div id="scheda-basic" class="col-md-3">
                    <div class="scheda-items">
                        <br/>
                        <h4>Lorem</h4>
                        <div class="well">
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                            <p>
                              Lorem
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-9" style="position:relative">

                    <div id="modello-redditi">
                        <h3>Open data</h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div>Tracciato record</div>
                            </td>
                            <td>
                              <div><a href="https://s3.amazonaws.com/op_patrimoni/open_data/openpolis-patrimoni-trasparenti-tracciato-record-metadati.csv">Scarica</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Dati csv 2014</div>
                            </td>
                            <td>
                              <div><a href="https://s3.amazonaws.com/op_patrimoni/open_data/2014.zip">Scarica</a></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
