<div class="single-card">
    <div class="page-heading">
        <h1 class="container">Open Data</h1>
    </div>

    <div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div class="col-md-8" style="position:relative">

                    <div id="modello-redditi">
                        <h3>Open data</h3>
                    </div>
                         <p>
                         I dati di Patrimoni trasparenti sono disponibili in diversi formati aperti.<br>
                         <ul>
                            <li>Per data journalists e data analysts: <a href="https://s3.amazonaws.com/op_patrimoni/open_data/openpolis-patrimoni-trasparenti.zip"><b>download dei dati riassuntivi in formato CSV</b></a></li>
                            <li>Per programmatori: <a href="https://s3.amazonaws.com/op_patrimoni/open_data/openpolis-patrimoni-trasparenti-json.zip"><b>download di tutti i dati in formato JSON</b></a></li>
                            <li>Per programmatori avanzati: <a href="/api-docs"><b>accedi alle nostre Api</b></a></li>
                         </ul>
                         Tutti i dati sono di proprietà dell'Associazione Openpolis, che li rilascia con licenza <a href="https://creativecommons.org/licenses/by-sa/3.0/it/" target="_blank"><b>CC BY-SA 3.0.</b></a>
                         </p>
                </div>
                <div id="scheda-basic" class="col-md-4">
                </div>
            </div>

        </div>
    </div>
</div>
