{
    "swagger": "2.0",
    "info": {
        "title": "Patrimoni trasparenti RESTapi",
        "description": "Patrimoni trasparenti API",
        "version": "0.1.0"
    },
    "host": "patrimoni.openpolis.it",
    "schemes": [
        "http"
    ],
    "basePath": "/api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/politici": {
            "get": {
                "summary": "Elenca politici con dichiarazioni",
                "description": "Elenco dei politici. Filtrabile per gruppo, organo o circoscrizione.\n",
                "parameters": [
                    {
                        "name": "gruppo",
                        "in": "query",
                        "description": "Gruppo parlamentare.",
                        "type": "string"
                    },
                    {
                        "name": "istituzione",
                        "in": "query",
                        "description": "Istituzione di appartenenza.",
                        "type": "string"
                    },
                    {
                        "name": "circoscrizione",
                        "in": "query",
                        "description": "Circoscrizione di elezione.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Un array of politici",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Politico"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/politici/{opId}": {
            "get": {
                "summary": "Elenca singolo politico con dichiarazione",
                "description": "Dettagli anagrafici del politico ed elenco delle dichiarazioni del politico. \nSono mostrate tutte le dichiarazioni disponibili o quelle dell'anno indicato.\n",
                "parameters": [
                    {
                        "name": "opId",
                        "in": "path",
                        "required": true,
                        "description": "ID openpolis",
                        "type": "string"
                    },
                    {
                        "name": "anno",
                        "in": "query",
                        "description": "anno dichiarazione",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Un array di dichiarazioni",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Dichiarazione"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/istituzioni": {
            "get": {
                "summary": "Elenca istituzioni",
                "description": "Elenco delle istituzioni",
                "responses": {
                    "200": {
                        "description": "Un array di istutuzioni",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Istituzione"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/gruppi": {
            "get": {
                "summary": "Elenca gruppi",
                "description": "Elenco dei gruppi.\n",
                "parameters": [
                    {
                        "name": "istituzione",
                        "in": "query",
                        "description": "Istituzione.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Un array of politici",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Gruppo"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/circoscrizioni": {
            "get": {
                "summary": "Elenca circoscrizioni",
                "description": "Elenco delle circoscrizioni.\n",
                "parameters": [
                    {
                        "name": "istituzione",
                        "in": "query",
                        "description": "Istituzione.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Un array of politici",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Circoscrizione"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Politico": {
            "type": "object",
            "properties": {
                "nome": {
                    "type": "string",
                    "description": "il nome"
                },
                "cognome": {
                    "type": "string",
                    "description": "il cognome"
                },
                "data_nascita": {
                    "type": "string",
                    "description": "data di nascita"
                },
                "op_id": {
                    "type": "integer",
                    "description": "ID Openpolis"
                },
                "dichiarazioni": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Dichiarazione"
                    }
                }
            }
        },
        "Dichiarazione": {
            "type": "object"
        },
        "Istituzione": {
            "type": "object"
        },
        "Gruppo": {
            "type": "object"
        },
        "Circoscrizione": {
            "type": "object"
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
