/*
 * General
 *
 -----------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin: 10px 0;
}
a:focus,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
b {
  font-weight: 600;
}
/*
 * Additional typography
 *
 -----------------------------*/
.font-size-small {
  font-size: 0.8em;
}
.font-size-medium {
  font-size: 0.9em;
}
.font-size-large {
  font-size: 1.0em;
}
.navbar {
  /*  line-height: 70px;
  height: 70px;
  border: none;
  margin-bottom: 0;*/

}
/*
 * Breadcrumbs
 *
 -----------------------------*/
.breadcrumbs-box {
  margin: 30px 0 0 0;
}
.breadcrumbs-box hr {
  margin: 0;
  color: #ccc;
  background-color: #ccc;
  border-color: #ccc;
}
.breadcrumbs-box ol.breadcrumb {
  display: inline-block;
  position: relative;
  top: -16px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}
/*
 * Homepage search
 *
 -----------------------------*/
.PT-search-box {
  margin: 62px 0 0 0;
}
.PT-search-id {
  float: left;
  position: relative;
  left: -36px;
  top: -7px;
}
.PT-hero-search {
  max-width: 400px;
  margin: 35px auto;
}
/*
 * Homepage news
 *
 -----------------------------*/
.PT-news-section {
  margin-bottom: 15px;
}
.PT-news-section .btn {
  background-color: #1587c6;
  border-color: #1587c6;
  border-radius: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
}
.PT-news-section .headline {
  color: #314052;
  font-size: 13.5px;
  line-height: 19px;
}
.PT-news-section .excerpt {
  color: #666;
  font-size: 12px;
  line-height: 17.5px;
}
.PT-news-section .col {
  padding-left: 37px;
  padding-right: 37px;
}
.post-link {
  background: url("../assets/images/arrow.png") no-repeat center right;
  font-size: 11px;
  padding: 0 18px 0 0 !important;
  color: #1587c6;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: auto;
}
.read-all {
  margin: 0 auto;
  padding: 35px 0 0 0;
  text-align: center;
  max-width: 380px;
}
.read-all hr {
  margin: 0;
}
.read-all a {
  display: inline-block;
  position: relative;
  top: -19px;
  background-color: #fff;
  border: 10px solid #fff;
  margin-bottom: 0;
}
/*
 * Homepage hero
 *
 -----------------------------*/
#PT-hero {
  background-color: #43BB99;
  font-size: 12px;
  margin-bottom: 56px;
}
#PT-hero .container {
  background: url("../assets/images/bg_hero.png") no-repeat 28% 51%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.PT-hero-title1 {
  display: inline-block;
  color: #FFF;
  background-color: #2A4C45;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 34px;
  padding: 0 74px 0 13px;
}
.PT-hero-title2 {
  display: inline-block;
  color: #FFF;
  background-color: #38A077;
  background-color: rgba(56, 160, 119, 0.7);
  font-weight: 300;
  font-size: 63px;
  padding: 0 28px 0 14px;
  margin: 5px 0;
}
.PT-hero-title2 span {
  display: block;
  position: relative;
  top: -11px;
  margin-bottom: -10px;
}
.PT-hero-subtitle {
  padding: 8px 12px;
  max-width: 320px;
  color: #FFF;
}
/*
 * Page heading
 *
 ---------------------------------------*/
.page-heading {
  background-image: none;
  background-color: #43BB99;
  padding: 1px;
  margin-bottom: 25px;
}
.page-heading h1 {
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 10px;
}
/*
 * Scheda
 *
 -----------------------------*/
.scheda-items p {
  border-top: 1px dashed #DEDEDE;
  padding-top: 5px;
}
.scheda-items p:first-child {
  border-top: none;
}
.portrait-picture {
  display: inline-block;
  border: 1px solid #DEDEDE;
  padding: 10px;
  margin-bottom: 30px;
}
.single-card {
  position: relative;
  padding-bottom: 40px;
}
.single-card a {
  color: #333;
}
.single-card a b {
  color: #26ad68;
}
.single-card .highlight-link {
  display: block;
  background-color: #3cba97;
  color: #fff;
  padding: 8px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
.single-card .table {
  margin-bottom: 50px;
}
/*
 * Search results
 *
 -----------------------------*/
.PT-results-controls {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}
select.selectpicker {
  font-weight: 400;
  font-size: 14px;
}
.PT-dialog-msg {
  text-align: center;
  padding: 80px 0;
}
/*
 * Footer
 *
 -----------------------------*/
footer {
  background-color: #EAEBED;
  padding: 20px 0 50px 0;
}
footer p,
footer label {
  color: #666;
  font-size: 12px;
}
footer h4 {
  color: #000;
}
footer hr {
  color: #8C8E8E;
  background-color: #8C8E8E;
  border-color: #8C8E8E;
}
footer strong {
  color: #10a4e4;
}
@media screen and (min-width: 1200px) {
  footer .col {
    padding-left: 57px;
    padding-right: 57px;
  }
}
.social-links {
  padding-top: 10px;
}
.social-links a {
  display: inline-block;
  padding: 0 3px;
}
.social-links a:first-child,
.social-links a:last-child {
  padding: 0;
}
.funding-campaign {
  text-align: center;
  padding-top: 10px;
}
.funding-campaign img {
  padding: 0 6px;
}
.funding-campaign p {
  margin: 0;
}
.funding-campaign hr {
  margin: 0 auto 5px auto;
  color: #dededf;
  background-color: #dededf;
  border-color: #dededf;
  max-width: 210px;
}
/*
 * Newsletter subscribe
 *
 -----------------------------*/
.newsletter-box hr {
  margin: 16px 0 9px 0;
}
.newsletter-subscribe .col-gutter-min {
  padding-right: 0;
}
.newsletter-subscribe .col-gutter-min:last-child {
  padding-right: 15px;
}
/*
 * JQuery-UI overrides
 *
 -----------------------------*/
.ui-autocomplete {
  box-shadow: 0px 6px 15px 21px rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  border: 2px solid #cccccc;
  padding: 0;
  max-height: 200px;
  min-height: 50px;
  overflow-y: auto;
  z-index: 9999;
}
.ui-autocomplete li {
  font-size: 12px;
  background-image: none !important;
  border: none !important;
}
.ui-autocomplete li p {
  margin: 3px 6px 5px 6px;
}
.ui-autocomplete li:hover {
  background-color: #f1f1f1;
}
.ui-autocomplete img {
  margin-right: 10px;
}
/*
 * Bootstrap overrides
 *
 -----------------------------*/
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  height: 72px;
}
.navbar-form {
  margin: 22px 25px 10px 25px;
}
.navbar-nav > li > a {
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 18px;
  color: #000;
}
.navbar-header .icon-bar {
  background-color: #333;
}
.nav-tabs li a {
  color: #b5b5b5;
  font-weight: 700;
  font-size: 18px;
}
.nav-tabs li.active a {
  color: #3cba97;
}
.table {
  font-size: 15px;
}
.table tfoot b {
  color: #26ad68;
  font-size: 15px;
}
.well b {
  color: #35a578;
}
.progress {
  height: 15px;
  border-radius: 7px;
  background-color: #e3e3e3;
  margin-top: 2px;
}
.progress-bar {
  color: #35a578;
  background-color: #35a578;
}

.progress-step { position: absolute; z-index: 1; width: 1px; background-color: #206448; height: 15px; }
.progress-step-1_3 { left: 36% }
.progress-step-2_3 { left: 64% }

.media .media-heading a {
  color: #2fb06d;
  font-size: 14px;
  font-weight: 700;
}
.media .media-body {
  font-size: 12px;
}
.pt-list .panel-body {
  min-height: 156px;
}
.pt-list .media {
  height: 126px;
  overflow: hidden;
}
/* Sticky footer
-------------------------------------------------- */
@media screen and (min-width: 990px) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 245px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
  
    height: 245px;
    margin-top: 40px;
  }
}
